<a href="@Url.Action("Giohang", "Giohang")" style="color: black; font-weight: bold; float: right; border:solid; height:60px;  " >
    <img src="~/Hinh/giohang.png" alt="giohang" height="50px"/> Giỏ hàng   (@ViewBag.Tongsoluong)
</a>
