@model  IEnumerable<FashionShop.Models.NHAXUATBAN>
<p class="lead">nha xuat ban</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoNXB","BookStore", new {id=item.MaNXB})" class="list-group-item">
            @item.TenNXB
        </a>


    }
</div>
