@model  IEnumerable<FashionShop.Models.SACH>
@{
    ViewBag.Title = "SPTheoChuDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center"> sach theo chu de</h1>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class=" col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">

                    <img alt="@sach.Tensach" src="~/Hinh/@sach.Anhbia" width="200" />

                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @sach.Tensach

                        </h4>
                        <p></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15view</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </a>
            </div>
        </div>


    }
